# Byte-compiled / optimized / DLL files
**/__pycache__/
benchmark/output/
benchmark/source/*
logs/*

!benchmark/output/example
!benchmark/source/ml-binary-001
!benchmark/source/ml-cluster-010
!benchmark/source/ml-multi-012



*.DS_Store
*.pyc
