# Byte-compiled / optimized / DLL files
**/__pycache__/
benchmark/output/
benchmark/source/

!benchmark/output/azure-ML-test/ml-binary-001
!benchmark/output/azure-ML-test/ml-binary-002
!benchmark/output/azure-ML-test/ml-binary-003
!benchmark/output/azure-ML-test/ml-binary-004
!benchmark/output/azure-ML-test/ml-binary-005

!benchmark/source/ml-binary-001
!benchmark/source/ml-binary-002
!benchmark/source/ml-binary-003
!benchmark/source/ml-binary-004
!benchmark/source/ml-binary-005